MyMedicalRecords/MyMedicalRecords/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- log.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EventoNavigazioneGUI">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="nomeEvento"/>
                    <xs:attribute type="xs:string" name="indirizzoIp"/>
                    <xs:attribute type="xs:string" name="timeStamp"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>